html {
  font-family: sans-serif;

  /* font will not be smaller than 24px */
  font-size: max(12px, 3vh);
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.game {
  height: 90%;
  width: 90%;
  color: black;
  display: grid;
  grid-template-rows: 1em 3em 3em 3em 1em 1fr;
  grid-gap: 1em;
  grid-template-areas: 
    "score"
    "action"
    "comment"
    "playerselection"
    "historytitle"
    "historycontent";
}

.score {
  grid-area: score;
  display: grid;
  grid-template-columns: 1fr 3em 1fr;
  grid-gap: 1em;
}

.score__playername {
  grid-column: 1;
  justify-self: end;
}

.score__tally {
  grid-column: 2;
  width: 4em;
  justify-self: center;
}

.score__computername {
  grid-column: 3;
  justify-self: start;
}

.action {
  grid-area: action;
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 1em;
}

.action__player {
  grid-column: 1;
  justify-self: end;
}

.action__round {
  grid-column: 2;
  align-self: center;
}

.action__computer {
  grid-column: 3;
  text-align: start;
}

.commentary__box {
  grid-area: comment;
  justify-self: center;
  align-self: center;
}

.player__selection {
  grid-area: playerselection;
  justify-self: center; 
  display: inline-grid;
  grid-template-columns: 1fr 4em 1fr;
  grid-gap: 1em;
  grid-template-areas: "rock paper scissors"
}

.btn {
  transition: all .07s ease;
}

.btn__rock {
  grid-area: rock;
}

.btn__paper {
  grid-area: paper;
}

.btn__scissors {
  grid-area: scissors;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1.2);
  color: darkgoldenrod;
}

.history__title {
  grid-area: historytitle;
}

.history__content {
  grid-area: historycontent;
  justify-self: center;
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 1em;
  scrollbar-width: none;
  overflow-y: auto;
  align-content: start;
}

.history__row {
  height: 3em;
  display: inline-grid;
  grid-gap: 1em;
  grid-auto-flow: column;
}

.history__round {
  width: 2em;
  line-height: 2em;
  align-self: center;
  border: 0.1em solid black;
  border-radius: 50%;
  align-content: center;
}

.icon__lose {
  color: grey;
}

.icon__draw {
  color: grey;
}

.form {
  position: absolute;
  height: max(12em, 100vh);
  width: max(12em, 100vw);
  background: white;
  display: inline-grid;
  grid-auto-flow: row;
  place-content: center;
  place-items: center;
  grid-gap: 1em;
}

.form__title {
  padding-left: 1em;
}

.form__roundInput {
  width: 4.8em;
  height: 1.5em;
  font-size: inherit;
  text-align: center;
  border: 0.1em solid black;
  border-radius: 0.2em;
}

.form__submit {
  width: 5em;
  height: auto;
  font-size: inherit;
  background-color: goldenrod;
  border: 0.1em solid goldenrod;
  border-radius: 0.2em;
}

.form__submit:hover {
  transform: scale(1.1);
}

.form__submit:active {
  transform: scale(1.2);
}